@using Itsomax.Module.MonitorManagement.ViewModels
@model CreateSystemViewModel

<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h2 class="m-b-0 text-themecolor">Create System</h2>
                </div>
                <div class="card-body">
                    <form class="form-horizontal p-t-20 justify-content-center" asp-controller="DatabaseManagement" asp-action="CreateSystemPostView">
                        <div class="form-body">
                            <h3 class="box-title">System Details</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="form-group row align-items-center">
                                <label class="control-label col-sm-2 text-right" for="systemname" asp-for="Name" ></label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-pencil-alt"></i></div>
                                        <input class="form-control" id="systemname" asp-for="Name"/>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="control-label col-sm-2 text-right" asp-for="Description" for="description"></label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-comment"></i></div>
                                        <textarea asp-for="Description" class="form-control" rows="5" cols="8"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-2 text-right" asp-for="Active" for="active"></label>
                                <div class="col-sm-4">
                                    <div class="checkbox checkbox-info">
                                        <input asp-for="Active" type="checkbox" id="active" />
                                        <label for="active"></label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <span asp-validation-for="Active"></span>
                                </div>
                            </div>
                            <h3 class="box-title">Save System</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="form-group row">
                                <div class="col-md-10 ml-md-auto">
                                    <a asp-controller="DatabaseManagement" asp-action="SystemList" class="btn btn-info waves-effect waves-light">Cancel</a>
                                    <button type="submit" class="btn btn-info waves-effect waves-light"><i class="fa fa-check"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}